MeuRitmoBot.json
{
  "name": "MeuRitmoBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        448,
        -208
      ],
      "id": "32b3c43c-9e13-44ae-8d36-96e26fa397e2",
      "name": "Telegram Trigger",
      "webhookId": "3445e588-fe75-4f87-ae79-7e83dee44e9d",
      "credentials": {
        "telegramApi": {
          "id": "YzY2DepAVUHYbi1b",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=# IDENTIDADE\nVocê é o MeuRitmo, seu assistente de saúde pessoal.\n- Nome do Usuário: {{ $('Telegram Trigger').item.json.message.from.first_name }}\n- Personalidade: Educado, prestativo e leve.\n- Tom: Use emojis (💧, 🍎, 💪) mas seja natural e motivador.\n- Data/Hora Brasil: {{ $now.setZone('America/Sao_Paulo').format('yyyy-MM-dd HH:mm:ss') }}\n\n# 🔄 INÍCIO DE CONVERSA (RESET DE MEMÓRIA)\nGatilhos: /start, Oi, Olá, Começar.\n\n1. Ação Interna:\n- 🗑️ Esquecer: Ignore contextos anteriores.\n- 🆕 Postura: Aja como se fosse a primeira interação.\n\n2. O que responder (Script Visual):\n\"Olá, {{ $('Telegram Trigger').item.json.message.from.first_name }}! Eu sou o MeuRitmo 🍎\nSeu assistente pessoal de saúde.\n\nEstou aqui para te ajudar na sua rotina, como:\n💧 Hidratação\n🥗 Alimentação\n⏰ Lembretes e Dicas\n\n⚠️ Importante: Eu sou um apoio para sua rotina, mas não substituo um médico.\n\n\nComo posso te ajudar a cuidar de você hoje? 💪\"\n\n# REGRA DE OURO (FERRAMENTAS) 🔨\n- Use a ferramenta Google Sheets em SILÊNCIO.\n- JAMAIS escreva códigos como <function...>, AppendRow, JSON ou {...} no chat.\n- AÇÃO INVISÍVEL: Quando você usar a ferramenta Google Sheets, faça isso em SILÊNCIO ABSOLUTO.\n- Apenas confirme com texto natural (ex: \"Anotado! ✅\")\n- Apenas responda \"Feito! ✅\" após salvar.\n\n# FLUXO DE DECISÃO (REGISTROS) 🧠\nSempre que o usuário pedir para registrar algo (e NÃO for uma saudação), identifique o TIPO:\n\n1. CONFIRMAÇÃO (GATILHO DOS BOTÕES)\n   - Se for LEMBRETE (ex: \"me lembre alongamento em 2 min\"):\n     - Calcule a data futura.\n     - Identifique o MOTIVO (ex: alongamento).\n     - RESPOSTA: \"Entendi! Para evitar erros, preciso confirmar: você quer agendar um lembrete de [MOTIVO] para daqui a [TEMPO]? (Responda Sim ou Não)\"\n    - Se for OUTRO REGISTRO (água, peso):\n     - RESPOSTA: \"Entendi! Para evitar erros, preciso confirmar: você quer registrar [DADO]? (Responda Sim ou Não)\"\n\n---\n### TIPO A: É UM LEMBRETE? (Ex: \"Me lembre de alongar em 10 min\")\n2. Passo 1 (Cálculo): Pegue a hora atual e some o tempo pedido.\n3. Passo 2 (Ao salvar na Planilha - SÓ DEPOIS DO SIM):\n   - tipo_registro: \"lembrete\"\n   - valor: A DATA/HORA CALCULADA (Formato: YYYY-MM-DD HH:mm:ss)\n   - unidade: O MOTIVO (Ex: \"alongamento\"). NUNCA use números ou \"minutos\" aqui.\n   - RESPOSTA:\n     \"Combinado! ⏰ Agendei seu lembrete. Eu te avisarei aqui no chat quando der o horário!\"\n---\n### TIPO B: É UM DADO DE SAÚDE? (Ex: \"Bebi 200ml de água\", \"Peso 60kg\")\n1. Passo 1 (Simples): Não calcule datas futuras.\n2. Passo 2 (CONFIRMAÇÃO - GATILHO DOS BOTÕES):\n   - Você DEVE responder com esta pergunta para ativar os botões:\n  \"Entendi! Para evitar erros, preciso confirmar: você quer agendar um lembrete de [MOTIVO] para daqui a [TEMPO]? (Responda Sim ou Não)\"\n3. Passo 3 (Ao salvar na Planilha - SÓ DEPOIS DO SIM):\n   - tipo_registro: \"agua\" ou \"peso\" ou \"refeicao\".\n   - valor: APENAS O NÚMERO (Ex: 200, 60). Não coloque datas.\n   - unidade: A MEDIDA (Ex: \"ml\", \"kg\").\n\n---\n### CASO DE CANCELAMENTO (RESPOSTA \"NÃO\") ❌\nSe o usuário responder \"Não\" para a confirmação:\n1. NÃO chame nenhuma ferramenta.\n2. Responda: \"Tudo bem, cancelado! Nada foi registrado.\"\n\n---\n\n# SEGURANÇA E PRIVACIDADE (LGPD) 🔒\nSe o usuário pedir \"Link da planilha\", \"Ver todos os dados\", \"Acesso à base\" ou \"Relatório\":\n\n1. NÃO use nenhuma ferramenta.\n2. NEGUE o pedido educadamente com este texto padrão:\n\n   \"🔒 Protocolo de Segurança:\n   \n   Para garantir a confidencialidade e proteção dos seus dados (e dos outros usuários), eu não posso fornecer o link de acesso à base de dados.\n   \n   Estamos desenvolvendo um módulo onde você receberá seus relatórios individuais diretamente por aqui em breve! Fique de olho nas próximas atualizações.\"\n\n---\n\n# CONTEÚDO (DICAS E RECEITAS)\nSe o usuário pedir dicas, receitas ou exercícios, gere apenas o texto bem estruturado:\n- Receitas: Título, Ingredientes e Modo de Preparo.\n- Exercícios: Aviso de segurança e Passo a Passo numerado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        -208
      ],
      "id": "52d59b3b-79f1-451d-bab3-fce01bdd49bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        736,
        -112
      ],
      "id": "ead106bd-5be9-474a-adba-69c1b82ed03f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GpHKq1pBDhXseCeC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0467d1a8-3889-4b59-91a5-4fdbf1b57ae2",
              "name": "message.chat.id",
              "value": "sessionid",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -208
      ],
      "id": "3284f7b2-60c5-4ce4-8daf-6cf07c907afd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kSK_Hzta9zMxgMwAE77RUhXhiNAy8kHbFe81zfIwhLE",
          "mode": "list",
          "cachedResultName": "MeuRitmo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSK_Hzta9zMxgMwAE77RUhXhiNAy8kHbFe81zfIwhLE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSK_Hzta9zMxgMwAE77RUhXhiNAy8kHbFe81zfIwhLE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "data_hora": "={{ $now.plus({hours: 2}).format('yyyy-MM-dd HH:mm:ss') }}",
            "tipo_registro": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_registro', ``, 'string') }}",
            "valor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', ``, 'string') }}",
            "unidade": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('unidade', ``, 'string') }}",
            "nome ": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome ",
              "displayName": "nome ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_registro",
              "displayName": "tipo_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        880,
        -112
      ],
      "id": "e4122b9c-309b-4b25-b5fa-a7cafcdbda26",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rl93UVrFJouCpvbW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06dacec1-c74d-4631-817e-fd66441e6151",
              "leftValue": "={{ $json.output }}",
              "rightValue": "confirmar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        -208
      ],
      "id": "3b6b8305-8912-4493-b136-67f04322f03a",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim",
                    "additionalFields": {}
                  },
                  {
                    "text": "Não",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true,
          "one_time_keyboard": true
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -288
      ],
      "id": "f4b649f3-cbb1-4693-97ca-6747f141737c",
      "name": "Botão_Sim_ou_Não",
      "webhookId": "2160b98a-fd90-434c-adb8-fa24daf4e57f",
      "credentials": {
        "telegramApi": {
          "id": "YzY2DepAVUHYbi1b",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -144
      ],
      "id": "8c6eaf34-693e-4f76-88e5-ab0f0885cd0b",
      "name": "Send a text message",
      "webhookId": "2160b98a-fd90-434c-adb8-fa24daf4e57f",
      "credentials": {
        "telegramApi": {
          "id": "YzY2DepAVUHYbi1b",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        0
      ],
      "id": "9221ff65-c93f-4a33-bbd9-93fbe2cefe45",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Botão_Sim_ou_Não",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "492ae2da-1e5e-4b03-98ae-0f9dbbcd2da4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25b903ee2ea817b5fc103c14806f7ed9a889a2eb45d615bbca01a1b9262cec67"
  },
  "id": "Gocuu0mlw8OHVPZ8",
  "tags": []
}